<!--nav bar -->
<nav>
  <div class="nav-wrapper" id="test">
    <a href="#" class="brand-logo right">RushEd</a>
    <img src="https://all4ed.org/wp-content/uploads/2015/11/graduation_cap_and_diploma-e1446671361500.png" width="80px"
      height="80px">
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="/home">Home</a></li>
      <li><a href="/career">Career</a></li>
      <li><a href="/college">College</a></li>
      <li><a href="/profile">Profile</a></li>
      <li><a class='modal-trigger' href="#modal1">Sign Up</a></li>
    </ul>
  </div>
</nav>
<div class="divider"></div>
<div class="section">
  <div class="row">
    <div class="col l8">
      <div class="imgdiv">
        <img src="assets/images/career1.jpg" style="width: 1000px;height:500px">
      </div>
    </div>
    <div class="col l4">
      <div class="card-panel white">
        <div class="row">

          <div class="row">
            <form>
              <div class="input-field col s8">

                <input id="Field" type="text" class="validate field">
                <label class="active black-text" for="Field">Field</label>
              </div>
              <div class="input-field col s8">
                <input id="City" type="text" class="validate city">
                <label class="active black-text" for="City">City</label>
              </div>
              <div class="input-field col s8">
                <input id="field" type="text" class="validate state">
                <label class="active black-text" for="state">State(postal code)</label>
              </div>
              <div class="input-field col s8">
                <a class="waves-effect waves-light btn" style="margin-top: 30px" id="submit">Submit</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="divider"></div>
<div class="section">
  <div class="row">
    <div class="col l6" id="demo">
      <div class="col s12 m7 l12" id='person0'>


      </div>
    </div>

    <div class="col l6">
      <div class="col s12 m7 l12" id='person1'>


      </div>
    </div>
  </div>

  <div class="row">
    <div class="col l6" id="demo">
      <div class="col s12 m7 l12" id='person2'>


      </div>
    </div>

    <div class="col l6">
      <div class="col s12 m7 l12" id='person3'>

        <div class="card horizontal">

        </div>
      </div>
    </div>



  </div>
  <div class="row">
    <div class="col l6">


      <ul class="collection certifications">

      </ul>
    </div>


    <div class="col l6">


      <ul class="collection license">

      </ul>
    </div>

  </div>
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="./js/career.js"></script>
  <script type="text/javascript">


    $(document).ready(function () {
      $('.modal').modal();
    });


  </script>