<h1 id="testtt">blaaaaa</h1>
    <div class="parallax-container">
      <div class="parallax"><img src="https://images.unsplash.com/photo-1523240795612-9a054b0db644?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"></div>
    </div>
    <!--nav bar -->
    <nav>
    <div class="nav-wrapper" id="test">
      <a href="#" class="brand-logo right">Logo</a>
      <img src="https://all4ed.org/wp-content/uploads/2015/11/graduation_cap_and_diploma-e1446671361500.png" width="80px" height="80px">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="#">Ranking</a></li>
        <li><a href="#">Career path</a></li>
        <li><a href="#">Prepare</a></li>
        <li><a href="#">Student profile</a></li>
        <li><a href="#">Login</a></li>
      </ul>
    </div>
  </nav>




  <div class="col s12 m12 l12">
    <h4 class="header red-text text-accent-4 center ">Which profession best matches my personality?</h4>
    <div class="card horizontal">
      <div class="card-image">
        <img src="https://images.unsplash.com/photo-1494809610410-160faaed4de0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" width="200px" height="300px">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p id="pid" class="brown-text text-darken-2">Self-assessment usually narrows your prospective choices considerably. Delving into the various majors still under consideration can help you further hone in on the right program.Login For Finding a Right Path!!
            Which Careers Pay the Highest/Lowest Salaries?
Generally speaking, careers in medicine, business administration and STEM-related fields offered the highest annual salaries; meanwhile, careers in social sciences, arts and humanities paid the lowest wages. A report from FiveThirtyEight found that the following 10 positions were the national leaders in median annual earnings among recent graduates.
          </p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>






 <div class="row">
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-image">
          <img src="https://images.unsplash.com/photo-1497668319663-af2fa49df87e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80">
          <span class="card-title black text">ENGINEERING</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>

<div class="col s12 m6 l4">
      <div class="card">
        <div class="card-image">
          <img src="https://images.unsplash.com/photo-1551190822-a9333d879b1f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80">
          <span class="card-title black text">MEDICAL</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>

<div class="col s12 m6 l4">
      <div class="card">
        <div class="card-image">
          <img src="https://images.unsplash.com/photo-1559813114-cda845612ae7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80">
          <span class="card-title black text">ARTS</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>

  </div>

<div class="divider"></div>
<div class="section">
<div class="row">
  <div class="col s12 m6 l4">
   <h5 class="blue-text text-darken-2">Highest paying Engineering Jobs</h5>
  
<ul class="collection">
    <li class="collection-item avatar">
      <i class="material-icons circle yellow">insert_chart</i>
      <span class="title">Petroleum Engineer</span>
      <p>Average salary: $128,230 (£97,580) <br>
         year of education:4yr
         
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar">
  <i class="material-icons circle red">insert_chart</i>
      <span class="title">Aerospace Engineer</span>
      <p>$109,650 (£83,440) <br>
        year of education:4yr
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle green">insert_chart</i>
      <span class="title">Computer / Hardware Engineer</span>
      <p>Average salary: $102,280 (£77,830) <br>
         year of education:4yr
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar">
       <i class="material-icons circle blue">insert_chart</i>
      <span class="title">Software Engineer</span>
      <p> $100,080 (£76,160) <br>
        year of education:4yr
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
  </ul>
   </div>
<!--second colum-->




<div class="col s12 m6 l4">

  <h5 class="blue-text text-darken-2">Highest paying Medical Jobs</h5> 
<ul class="collection">
    <li class="collection-item avatar">
      
     <i class="material-icons circle brown">insert_chart</i>
      <span class="title">Physician</span>
      <p>Salary range: $119,000-$303,000 per year <br>
         Years of higher education: 8
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle orange">insert_chart</i>
      <span class="title"> Pharmacy Manager</span>
      <p>Salary range: $119,000-$146,000 per year <br>
         Years of higher education required: 6-8
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar">
     <i class="material-icons circle cyan">insert_chart</i>
      <span class="title">Pharmacist</span>
      <p>Years of higher education required: 6-8 <br>
         Salary range: $113,000-$142,000 per year
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar">
     <i class="material-icons circle teal">insert_chart</i>
      <span class="title"> Nurse Practitioner</span>
      <p>Salary range: $105,000-$138,000 per year<br>
        Years of higher education required: 6-8
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
  </ul>
   </div>
<!--3rd colum-->


<div class="col s12 m6 l4">
<h5 class="blue-text text-darken-2">High Paying Creative Jobs</h5>
  
<ul class="collection">
    <li class="collection-item avatar">
       <i class="material-icons circle pink darken-3">insert_chart</i>
      <span class="title"> Chief marketing officer (CMO)</span>
      <p>degree in business, marketing or communications  <br>
         The midpoint starting salary :$164,000.
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle purple darken-4">folder</i>
      <span class="title"> User experience (UX) director </span>
      <p>degree in business <br>
         The midpoint salary :$128,500. 
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle teal darken-3">insert_chart</i>
      <span class="title">Title</span>
      <p>degree in visual communication <br>
          midpoint salary of $111,000
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar">
     <i class="material-icons circle green darken-1">insert_chart</i>
      <span class="title">Marketing director</span>
      <p>MBA<br>
          mean salary of $108,000.
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
  </ul>
   </div>


</div>         







</div>


 
    

<div class="divider"></div>
  <div class="section">
    <div class = "col s12 m6 l12">
    <div class="video-container">

           
        <iframe class="iframe-container iframe" src="https://www.youtube.com/embed/R7iN71uJcG0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
</div>



 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>

 $(document).ready(function(){
    $('.parallax').parallax();
  });  
          
         

        
      </script>
