<!--nav bar content-->
  <nav>
    <div class="nav-wrapper" id="test">
        <a href="#" class="brand-logo right">RushED</a>
        <img src="https://all4ed.org/wp-content/uploads/2015/11/graduation_cap_and_diploma-e1446671361500.png" width="80px" height="80px">
            <a href="#" class="sidenav-trigger white-text" data-target="mobile-links">
              <i class="material-icons white-text">menu</i>
            </a>
               <ul id="nav-mobile" class="left hide-on-med-and-down">
                  <li><a href="/home">Home</a></li>
                  <li><a href="/career">Career</a></li>
                  <li><a href="/college">College</a></li>
                  <li><a href="/profile">profile</a></li>
                  <li><a href="/signup">sign up</a></li>
                </ul>
    </div>
  </nav>
  <!--side nav-->
  <ul class="sidenav" id="mobile-links">

    <li><div class="user-view">
      
      <div class="background">
                          
        <img src="https://images.unsplash.com/photo-1558396022-6db022163507?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=698&q=80" style="height: 300px;width:300px">
                        
      </div>
            
        <a href="#user"><img class="circle" src="https://images.unsplash.com/photo-1496469888073-80de7e952517?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80" style="width: 100px;height:100px"></a>
 
                       
    </div></li>

        <li><a href="/home">home</a></li>
        <li><a href="/career">Career</a></li>
      
        <li><a href="/college">College</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/signup">Sign up</a></li>>
  </ul>

<div class="divider"> </div>
<div class="section">
  
<!--student data form-->
<h1>fill the form!!</h1>
<div class="row">
    <div class="col s12 m6 l8">
       <div class="row">
          <form class="col s12">
              <div class="row">
                  <div class="input-field col s6">
                      <input placeholder="Placeholder" id="first_name" type="text" class="active">
                      <label for="first_name">First Name</label>
                  </div>
                  <div class="input-field col s6">
                        <input placeholder="Placeholder" id="Last_name" type="text" class="active">
                        <label for="last_name">Last Name</label>
                  </div>
              </div>
              <div class="row">
                  <div class="input-field col s6">
                  <input id="email" type="email" class="validate">
                  <label for="email">Email</label>
                  <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
              </div>
      
                  <div class="input-field col s16">
                      <select>
                            <option value="" disabled selected>Choose your state</option>
                            <option value="1">Alabama</option>
                            <option value="2">Alaska</option>
                            <option value="3">Arizona</option>
                            <option value="4">California </option>
                            <option value="5">Colorado</option>
                            <option value="6">Florida </option>
                            <option value="7">Georgia </option>
                            <option value="8">Hawaii</option>
                            <option value="9">Idaho</option>
                            <option value="10">Kentucky</option>
                            <option value="11">Michigan</option>
                            <option value="12">Minnesota</option>
                            <option value="13">Mississippi</option>
                            <option value="14">Missouri</option>
                            <option value="15">Texas</option>
                            <option value="16">Utah</option>
                            <option value="17">Vermont</option>
                            <option value="18">Virginia</option>
                            <option value="19">Washington</option>
                            <option value="20">Wyoming</option>
                            

                      </select>
   
              </div>
            </div>
            <div class="row">
              <div class="input-field col s4">
                  <input id="Address" type="text" class="active">
                  <label for="Address">Address</label>
              </div>
              <div class="input-field col s4">
                    <input id="zip code" type="text" class="active">
                    <label for="zip code">zip code</label>
              </div>
              <div class="input-field col s4">
                  <input id="city" type="text" class="active">
                  <label for="city">city</label>
              </div>
            </div>
        <div class="row">
        <div class="input-field col s6">
          <input id="Education" type="text" class="active">
          <label for="Education">Highest Level of Education</label>
        </div>
        <div class="input-field col s6">
          <input id="GPA" type="text" class="active">
          <label for="GPA">GPA</label>
        </div>
       
      </div>
    <div class="row">
        <div class="input-field col s6">
          <input id="Area_of_Interest" type="text" class="active">
          <label for="Area_of_Interest">Area of Interest (courses)</label>
           <p>
      <label for="Engineering-fd">
        <input id="Engineering" type="checkbox" />
        <span>Engineering</span>
      </label>
    </p>
    <p>
      <label for="medical">
        <input id="medical"   type="checkbox" />
        <span>Medical</span>
      </label>
    </p>
    <p>
      <label for="LAW">
        <input id="LAW"   type="checkbox" />
        <span>LAW</span>
      </label>
    </p>
     <p>
      <label for="Arts/business/other">
        <input id="arts"   type="checkbox" />
        <span>Arts/business/other</span>
      </label>
    </p>
        </div>


<div class="input-field col s6">
          <input id="subject_of_Interest" type="text" class="active">
          <label for="subject_of_Interest">Area of Interest (Subjects)</label>
           <p>
      <label for="maths">
        <input id="maths" type="checkbox" />
        <span>maths</span>
      </label>
    </p>
    <p>
      <label for="Biology">
        <input id="Biology"   type="checkbox" />
        <span>Biology</span>
      </label>
    </p>
    <p>
      <label for="Music">
        <input id="Music"   type="checkbox" />
        <span>Music/other arts</span>
      </label>
    </p>
     <p>
      <label for="economics">
        <input id="economics"   type="checkbox" />
        <span>economics</span>
      </label>
    </p>
        </div>


  <div class="chips " id="favtopics"></div>
 
  <div class="chips chips-placeholder"></div>
  
  

      </div>
    </form>
  </div>
        





    </div>

   
</div>


</div>
<div class="divider">
<div class="section">
 

  <span class="new badge red">4</span>
  <span class="new badge blue">4</span>
            



</div>

</div>

























 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>


        $(document).ready(function(){
       $('.sidenav').sidenav();
      // <!--choose box-->
         $('select').formSelect();
  


$('.chips').chips();
 
  $('.chips-placeholder').chips({
    placeholder: 'interested courses',
    secondaryPlaceholder: 'press enter',
    
  });
 
        
});



  </script>

 