<nav>
  <div class="nav-wrapper" id="test">
    <a href="#" class="brand-logo right">RushEd</a>
    <img src="https://all4ed.org/wp-content/uploads/2015/11/graduation_cap_and_diploma-e1446671361500.png" width="80px"
      height="80px">
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      <li><a href="/college">College</a></li>
      <li><a href="/career">Career</a></li>
      <li><a href="/profile"> Profile</a></li>
      <li>
        <a href="/login">Log In</a>
      </li>
      <li>
        <a href="/signup">Sign Up</a>
      </li>
    </ul>
  </div>
</nav>